.logoText {
    color: blueviolet;
}

.logoText:hover {
    color: blueviolet;
}

.logoHit {
    transition: transform 0.3s ease;
}

.logoHit:Hover {
    transform: scale(1.5) rotate(-5deg);
}

/* ================================== */

.mybtnanime {
    padding: 0px;
    transition: transform 0.3s ease;
}

.mybtnanime:hover{
    transform: rotate(10deg);
}

.mybtn {
    color: black;
    padding: 5px 8px;
}

.mybtn:hover{
    color: blueviolet;
}

a {
    text-decoration: none;
}

.sangOrder {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: black solid 1px;
    padding: 5px;
}

.sangOrder:hover {
    color: white;
    background-color: blueviolet;
    border: blueviolet solid 1px;
}

.footerBtn {
    color: white;
}

.footerBtn:hover {
    color: white;
}

.footerBtnAnime {
    color: white;
    padding: 0px;
    transition: transform 0.3s ease;
}

.footerBtnAnime:hover {
    color: white;
    transform: scale(1.1);
}