.mybtnanime {
    padding: 0px;
    transition: transform 0.3s ease;
}

.mybtnanime:hover{
    transform: translateY(-5px);
}

.mybtn {
    color: black;
    padding: 5px 8px;
}

.mybtn:hover{
    color: blueviolet;
}